:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

:hover,
:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

body svg {
  fill: #404bbf;
  stroke: #fcfcfc;
  stroke-width: 1;
}

body svg:hover,
svg:focus {
  fill: var(--green);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-main {
  height: 72px;
  align-content: center;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}
.nav-link {
  font-weight: 500;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.e-address {
  color: var(--slate);
  letter-spacing: 0.02em;
}
.e-address:hover,
.e-address:focus {
  color: #404bbf;
}

.active::after {
  content: " ";
  margin-top: 20px;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  fill: var(--ocean);
}

.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

.address-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-image: radial-gradient(rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 1)),
    url("/images/people-office.jpg");
  justify-self: center;
  max-width: 1440px;
  padding: 188px 0;
}

.container-hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-h {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  padding-bottom: 48px;
  max-width: 496px;
}
.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
}

.goals-list {
  display: flex;
  gap: 24px;
}

.goals-li {
  width: 264px;
  height: 104px;
}

.icon-box {
  width: 264px;
  height: 112px;
  background-color: var(--light-slate);
}

.goals-h {
  margin-bottom: 8px;
}

.goals-p {
  letter-spacing: 0.02em;
  color: #434455;
}

header,
.team-card {
  background-color: var(--white);
}

.address {
  font-style: normal;
}

.team {
  background-color: var(--cloud);
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 8px 0px #000000;
}

.team-container {
  padding: 32px 0;
}

.team-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-icons {
  display: flex;
  gap: 24px;
  padding-top: 8px;
  justify-content: center;
}

.portfolio-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  width: 360px;
  height: 420px;
  position: relative;
}

.portfolio-overlay {
  background-color: #404bbf;
  color: white;
  position: absolute;
  max-height: 300px;
  left: 0;
  top: 0;
  padding: 40px 32px 0 32px;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: transform 300ms;
  visibility: hidden;
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  box-shadow: 0px 2px 8px 0px #000000;
}

.porfolio-item:hover {
  box-shadow: 0px 2px 8px 0px #000000;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-h-card {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.porfolio-p {
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-elements {
  display: flex;
  gap: 120px;
}

.logo-footer {
  padding-bottom: 16px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
  height: 112px;
}

.logo-span-foot {
  color: #f4f4fd;
}

.footer h3 {
  color: white;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}
